@use "foundation/variables" as *;

.p-top-recruit {
  & {
    margin-top: 12rem;
    padding: 12rem 0;
    background-color: $color-blue;
    position: relative;

    @media (max-width: 767px) {
      margin-top: 8rem;
      padding: 8rem 0 27.2rem;
    }

    &__txtarea {
      width: 52.2rem;
      position: relative;
      z-index: 2;

      @media (max-width: 767px) {
        width: 100%;
      }

      .c-sec-ttl {
        align-items: flex-start;
      }
    }

    &__txt {
      margin-top: 4rem;

      @media (max-width: 767px) {
        margin-top: 2.4rem;
      }
    }

    &__btn {
      margin-top: 4rem;

      @media (max-width: 767px) {
        margin-top: 2.4rem;
      }
    }

    &__imgarea {
      width: 115.1rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
      position: absolute;
      bottom: -4.8rem;
      right: -7.3rem;
      z-index: 2;

      @media (max-width: 767px) {
        width: 54.5rem;
        gap: 1.2rem;
        bottom: -4rem;
        right: -23rem;
      }
    }

    &__img {
      width: 35.7rem;

      @media (max-width: 767px) {
        width: 17.4rem;
      }
    }
  }
}