@use "foundation/variables" as *;

.p-strengths-voice {
  & {
    max-width: 84rem;
    margin: 5.6rem auto;
    padding: 3.2rem 6rem 5.6rem;
    background-color: #EFEFEF;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      width: 100%;
      margin: 4rem auto;
      padding: 4rem 1rem;
    }

    &__ttl {
      font-size: 2rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: .03em;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    &__list {
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 4rem;
      margin-top: 2.4rem;

      @media (max-width: 767px) {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 3.2rem;
      }
    }

    &__item {
      width: 34rem;
      background-color: $color-white;
      border-radius: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media (max-width: 767px) {
        width: 100%;
        border-radius: .8rem;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        border-style: solid;
        border-width: 2.4rem 2.4rem 0 0;
        border-color: #FFF transparent transparent;
        translate: calc(-50% - .4rem) 100%;
        transform: skew(-10deg);
        transform-origin: top;

        @media (max-width: 767px) {
          border-width: 1.6rem 1.6rem 0 0;
        }
      }
    }

    &__img {
      width: 5.6rem;
      flex-shrink: 0;
    }

    &__txt {
      font-weight: 500;
      line-height: 150%;
      letter-spacing: .03em;
      text-align: center;
      padding: 1.2rem 1.8rem;

      @media (max-width: 767px) {
        padding: 1.2rem;
      }
    }

    &--l {
      max-width: 100%;
      width: 110rem;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}