@use "foundation/variables" as *;

.p-strengths-voice {
  & {
    width: 78rem;
    margin: 5.6rem auto;
    padding: 3.2rem 6rem;
    background-color: $color-white;
    border: solid 1px $color-gray;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      width: 100%;
      margin: 4rem auto;
      padding: 4rem 1rem;
    }

    &__ttl {
      font-size: 2rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: .03em;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    &__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5.6rem;
      margin-top: 2.4rem;

      @media (max-width: 767px) {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 2.4rem;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.2rem;

      @media (max-width: 767px) {
        gap: .6rem;
      }
    }

    &__img {
      width: 5.6rem;
      flex-shrink: 0;
    }

    &__txt {
      min-width: 24rem;
      min-height: 6.6rem;
      background-image: url(../img/strengths/bubble.svg);
      background-repeat: no-repeat;
      background-size: cover;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 130%;
      letter-spacing: .03em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 1.2rem 1.8rem;

      @media (max-width: 767px) {
        width: 20rem;
        min-width: unset;
        height: 5.5rem;
        min-height: unset;
        font-size: 1.2rem;
        padding: 1.2rem;
      }

      &--l {
        min-width: 21.5rem;
        min-height: 8.1rem;
        background-image: url(../img/strengths/bubble-l.svg);
        background-size: contain;
        padding: 1.2rem 0 1.2rem 1.6rem;

        @media (max-width: 767px) {
        width: 21rem;
        min-width: unset;
        height: 7.6rem;
        min-height: unset;
        padding: 1.2rem;
      }
      }
    }

    &--l {
      width: 110rem;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}