@use "foundation/variables" as *;

.p-strengths-cost {
  & {
    margin-top: 12rem;

    @media (max-width: 767px) {
      margin-top: 8rem;
    }

    &__inner {
      padding: 12rem 17rem;
      background-color: $color-blue;

      @media (max-width: 767px) {
        padding: 4rem 2rem;
      }
    }

    &__details {
      margin-top: 7.2rem;

      @media (max-width: 767px) {
        margin-top: 5.6rem;
      }
    }

    &__cont {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      @media (max-width: 767px) {
        flex-direction: column-reverse;
      }

      &:not(:first-child) {
        margin-top: 1.6rem;

        @media (max-width: 767px) {
          margin-top: 3.2rem;
        }
      }

      &:nth-of-type(even) {
        flex-direction: row-reverse;

        @media (max-width: 767px) {
          flex-direction: column-reverse;
        }
      }
    }

    &__txtarea {
      width: 54rem;
      margin-top: 4rem;

      @media (max-width: 767px) {
        width: 100%;
        margin-top: 2.4rem;
      }
    }

    &__txt {
      font-weight: 400;
      line-height: 180%;
      letter-spacing: .03em;
      margin-top: 4rem;

      @media (max-width: 767px) {
        margin-top: 2.4rem;
      } 
    }

    &__img {
      width: 50rem;

      @media (max-width: 767px) {
        width: 100%;
      } 
    }
  }
}