@use "foundation/variables" as *;

.p-contact-form {
  & {
    margin-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      margin-top: 8rem;
      padding-bottom: 8rem;
    }

    &__inner {
      width: 90rem;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 100%;
        padding: 0 2rem;
      }
    }

    &__txt {
      font-weight: 400;
      line-height: 180%;
      letter-spacing: .03em;
      width: 72.2rem;
      margin: 5.6rem auto 0;

      @media (max-width: 767px) {
        width: 100%;
        margin: 3.2rem auto 0;
      }
    }

    &__form {
      margin-top: 5.6rem;

      @media (max-width: 767px) {
        margin-top: 3.2rem;
      }
    }

    &__formblk {
      &:not(:first-child) {
        margin-top: 2.4rem;

        @media (max-width: 767px) {
          
        }
      }
    }

    &__label {
      font-size: 1.8rem;
      line-height: 100%;
      letter-spacing: .03em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 1.2rem;

      @media (max-width: 767px) {
        font-size: 1.4rem;
        gap: .8rem;
      }
    }

    &__required {
      color: #FF5722;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: .03em;
      padding: .3rem .8rem .4rem;
      border: solid 1px #FF5722;

      @media (max-width: 767px) {
        font-size: 1.2rem;
        padding: 0.2rem 0.6rem 0.3rem;
      }
    }

    &__inputarea {
      margin-top: 1.2rem;

      @media (max-width: 767px) {
        margin-top: .8rem;
      }
    }

    &__default {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 1.6rem 2rem;
      background-color: #F9F9F9;
      border: solid 1px $color-gray;

      @media (max-width: 767px) {
        padding: 1.6rem;
      }
    }

    &__btn-wrap {
      margin-top: 8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      @media (max-width: 767px) {
        margin-top: 4rem;
        flex-direction: column;
        gap: 2.4rem;
      }
    }

    &__btn {
      position: relative;

      &::after {
        content: "";
        width: .8rem;
        height: 1.7rem;
        background-image: url(../img/contact/icon_arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);

        @media (max-width: 767px) {
          width: .6rem;
          height: 1.2rem;
        }
      }

      input {
        color: $color-white;
        font-size: 1.8rem;
        line-height: 100%;
        letter-spacing: .05em;
        height: 5.6rem;
        padding: 0 6rem;
        background-color: #FF5722;
        border: unset;
        transition: all .5s;
        cursor: pointer;

        @media (max-width: 767px) {
          font-size: 1.6rem;
        }

        &:hover {
          opacity: .5;
        }
      }

      &--back {
        color: $color-white;
        background-color: #595959;
        height: 5.6rem;
        padding: 0 6rem;
        transition: all .5s;
        cursor: pointer;

        &::after {
          right: unset;
          left: 2rem;
          transform: translateY(-50%) scale(-1,1);
          -webkit-transform: translateY(-50%) scale(-1,1);
          -ms-transform: translateY(-50%) scale(-1,1);
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

.mw_wp_form_complete {
  padding-bottom: 12rem;
  position: relative;
  z-index: 2;

  @media (max-width: 767px) {
    padding-bottom: 8rem;
  }

  .p-contact-form__btn {
    color: $color-white;
    font-size: 1.8rem;
    line-height: 100%;
    letter-spacing: .05em;
    height: 5.6rem;
    padding: 0 6rem;
    background-color: #FF5722;
    border: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media (max-width: 767px) {
      font-size: 1.6rem;
    }
  }
}