@use '../foundation/variables' as *;

.c-inner {
  width: 144rem;
  height: 100%;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 100%;
    padding: 0 2rem;
  }

  &--110 {
    width: 110rem;
    margin: 0 auto;

    @media (max-width: 767px) {
      width: 100%;
    }
  }
}