@use '../foundation/variables' as *;

.c-line {
  & {
    width: 1px;
    height: 100%;
    background-color: #EFEFEF;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    z-index: 1;

    &::before,
    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: #EFEFEF;
      position: absolute;
      top: 0;
    }

    &::before {
      right: 36rem;

      @media (max-width: 767px) {
        right: 16.8rem;
      }
    }

    &::after {
      left: 36rem;

      @media (max-width: 767px) {
        left: 16.8rem;
      }
    }

    &--2 {
      width: 0;

      @media (max-width: 767px) {
        display: none;
      }

      &::before {
        right: 72rem;
      }

      &::after {
        left: 72rem;
      }
    }
  }
}