@use "foundation/variables" as *;

.c-sec-ttl {
  & {
    font-size: 3.4rem;
    line-height: 100%;
    display: inline-block;
    padding-left: 3.8rem;
    position: relative;

    @media (max-width: 767px) {
      font-size: 2.4rem;
      line-height: 150%;
      padding-left: 3rem;
    }

    &::before {
      content: "";
      width: 2.8rem;
      height: 2.8rem;
      background-image: url(../img/common/c-ttl_obj.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);

      @media (max-width: 767px) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 1.2rem;
      background-image: radial-gradient(circle, $color-orange .3rem, transparent .3rem);
      background-size: 1.6rem .6rem;
      background-repeat: repeat-x;
      position: absolute;
      bottom: -3.6rem;
      left: 0;

      @media (max-width: 767px) {
        height: 1rem;
        background-image: radial-gradient(circle, $color-orange .25rem, transparent .25rem);
        background-size: 1.6rem .5rem;
        bottom: -2.4rem;
      }
    }
  }
}