@use "foundation/variables" as *;

.p-about-area {
  & {
    margin-top: 12rem;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
      margin-top: 8rem;
    }

    &__inner {
      width: 96rem;
      margin: 0 auto;

      @media (max-width: 767px) {
        width: 100%;
        padding: 0 2rem;
      }
    }

    &__img {
      width: 100%;
      margin: 4.8rem auto 0;

      @media (max-width: 767px) {
        margin: 3.2rem auto 0;
      }
    }
  }
}