@use "foundation/variables" as *;

.p-about-policy {
  & {
    margin-top: 12rem;

    @media (max-width: 767px) {
      margin-top: 8rem;
    }

    &__details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8rem;
      position: relative;
      z-index: 2;

      @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 3.2rem;
      }
    }

    &__details-item {
      border: solid 1px $color-gray;
      padding: 8rem 4rem;

      @media (max-width: 767px) {
        padding: 4rem 2rem;
      }
    }

    &__details-ttl {
      margin-bottom: 4rem;

      @media (max-width: 767px) {
        margin-bottom: 2.4rem;
      }
    }

    &__details-olist {
      margin-top: 2.4rem;
      padding-left: 2rem;
      list-style-type: decimal;

      @media (max-width: 767px) {
        margin-top: 1.6rem;
      }
    }

    &__details-olist-item {
      line-height: 180%;
      letter-spacing: .03em;

      &:not(:first-child) {
        margin-top: 2.4rem;

        @media (max-width: 767px) {
          margin-top: 1.6rem;
        }
      }
    }

    &__details-olist-txt {
      font-weight: 400;
      line-height: 180%;
      letter-spacing: .03em;
    }

    &__details-tag {
      color: $color-base-blue;
      line-height: 100%;
      letter-spacing: .03em;
      border: solid 1px $color-base-blue;
      display: inline-block;
      margin-top: 2.4rem;
      padding: .6rem 1.2rem;

      @media (max-width: 767px) {
        margin-top: 1.6rem;
      }
    }

    &__details-list {
      margin-top: 1.2rem;
      padding-left: 2rem;
      list-style-type: disc;
    }

    &__details-list-item {
      line-height: 180%;
      letter-spacing: .03em;
    }
  }
}