@use "foundation/variables" as *;

.p-recruit-data {
  & {
    margin-top: 12rem;

    @media (max-width: 767px) {
      margin-top: 8rem;
    }

    &__inner {
      padding: 12rem 17rem;
      background-color: $color-blue;

      @media (max-width: 767px) {
        padding: 4rem 2rem;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.4rem;
      margin-top: 9.6rem;
      position: relative;
      z-index: 2;

      @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 5.6rem;
      }
    }

    &__item {
      min-height: 33.2rem;
      background-color: $color-white;
      padding: 4rem 2rem 1.2rem;

      @media (max-width: 767px) {
        min-height: 21.5rem;
        padding: 2rem .8rem .8rem;
      }
    }

    &__item-ttl {
      font-size: 2rem;
      line-height: 100%;
      letter-spacing: .05em;
      padding-bottom: 1.6rem;
      border-bottom: solid 1px $color-gray;

      @media (max-width: 767px) {
        font-size: 1.6rem;
        line-height: 130%;
        padding-bottom: .8rem;
      }
    }

    &__item-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-top: 2.4rem;

      @media (max-width: 767px) {
        margin-top: 1.2rem;
      }
    }

    &__img {
      width: 12rem;

      @media (max-width: 767px) {
        width: 8rem;
      }
    }

    &__num {
      font-family: $font-en;
      color: $color-base-blue;
      font-size: 3rem;
      font-weight: 500;
      line-height: 100%;
      margin-top: .8rem;

      @media (max-width: 767px) {
        font-size: 1.4rem;
      }
    }

    &__l-txt {
      font-size: 6.4rem;
      font-weight: 400;
      margin-right: .4rem;

      @media (max-width: 767px) {
        font-size: 3.2rem;
      }
    }

    &__note {
      font-size: 1.4rem;
      line-height: 130%;
      text-align: center;
      margin-top: 1.2rem;

      @media (max-width: 767px) {
        font-size: 1.2rem;
      }
    }
  }
}